<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Common variables. -->
    <add key="Port" value="11011" />
    <add key="InterfaceLanguage" value="Russian" />
    <add key="PreferFFmpegVideoDecoder" value="yes" />
    <add key="PreferFFmpegAudioDecoder" value="yes" />
    <!-- Server variables. -->
    <add key="HttpPort" value="11012" />
    <add key="HttpSourceSwitchWidth" value="640" />
    <add key="HttpsPort" value="" />
    <add key="HttpsCertificate" value="" />
    <add key="RtspPort" value="" />
    <add key="BindTo" value="Dns" />
    <add key="CreateFirewallRules" value="yes" />
    <add key="SkipBrokenJpegOverRtspFrames" value="no" />
    <add key="SkipBrokenH264OverRtspSequences" value="no" />
    <add key="EnableArchiveRecompression" value="yes" />
    <add key="MobileHighResolution" value="800x480" />
    <add key="MobileHighFps" value="15" />
    <add key="MobileMediumResolution" value="320x240" />
    <add key="MobileMediumFps" value="5" />
    <add key="AnalyticsArchiveDays" value="" />
    <!-- Client variables. -->
    <add key="DisableScreenSaver" value="yes" />
  </appSettings>
</configuration>