html {
    width: 100vw;
    overflow-x: hidden;
}

.heading {
    color: white;
    background-color: black;
    border: solid black 2px;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: left;
}

img {
    border: 2px solid black;
}


table {
    font-size: 24px;
    margin: auto;
    width: 70%;
    table-layout: fixed;
}

td {
    list-style-type: none;
    border: 1px solid #000;
    text-align: center;
    position: relative;
}

td a {
    width: 100%;
    text-decoration: none;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    
}

.menu td:hover {
    background-color: black;
}

.menu td:hover .a1 {
    color: white;
}



.menu td:active .a1 {
    color: red;
}

.menu td {
    width: 110px;
    height: 30px;
    list-style-type: none;
    border: 1px solid #000;
    text-align: center;
}

.menu td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

h1,
h3 {
    text-align: center;
}

body {
    margin: 40px;
}
a:visited {
    color: black;
}
